@import url('./reset.css');

:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  font-size: 20px;
}

.timer {
  display: flex;
  width: 345px;
  justify-content: space-between;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
}

.label {
  text-transform: uppercase;
}

[data-start] {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  padding: 8px 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  width: 75px;
  height: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#datetime-picker {
  box-sizing: border-box;
  margin: 0 8px 32px 0;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

[data-start]:hover {
  background-color: #6c8cff;
  padding: 8px 16px;
  color: #fff;
}

[data-start]:disabled {
  background-color: #cfcfcf;
  padding: 8px 16px;
  color: #989898;
  cursor: not-allowed;
}

.form {
  display: block;
  box-sizing: border-box;
  width: 1440px;
  height: 496px;
  padding: 36px 924px 230px 156px;
}

.label-delay {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin-bottom: 16px;
}

.input-delay {
  display: block;
  max-width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-top: 8px;
  padding: 8px 16px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

fieldset {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 24px 0;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 1px solid #808080;
  height: 64px;
}

fieldset:hover {
  border-color: #000;
}

.btn-submit {
  display: flex;
  width: 360px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
}

.btn-submit:hover {
  background-color: #6c8cff;
}
